.form-player {
  width: 320px;

  padding: 10px;
  margin: 0 auto;

  border: 1px solid black;
}

.form-player__form {

}

.form-player__bat-container {
  display: flex;
  justify-content: space-between;

  margin: 0 0 20px 0;
}

.form-player-bat-container {

}

.form-player-bat-container__label {

}

.form-player-bat-container__input {
  display: block;

  width: 70px;

  margin: 5px 0 0 0;

  text-align: center;
}

.form-player__input-wrapper {
  position: relative;

  margin: 0 0 7px 0;
}

.form-player__errors {
  position: absolute;
  top: -36px;
  left: -7px;
  z-index: 100;

  display: flex;
  align-items: center;

  width: 100%;
  /* min-height: 70px; */

  padding: 5px;

  border: 1px solid #000;
  border-radius: 10px;

  background-color: #EBAD4C;

  font-size: 14px;

  text-align: center;
}

.form-player__label {
  display: block;

  margin: 0 0 3px 0;
}

.form-player__input {
  width: 100%;

  outline: none;
}

.form-player__input--invalid {
  /* border: 1px solid #ff0000; */
  background-color: #C93633;
}

.form-player__submit {

}

.form-player__list {

}

.form-player-list {

}

.form-player-list__item {

}

.form-player-list__text {
  margin: 0 10px 0 0;
}

.form-player-list__text:last-child {
  margin: 0;
}

.form-player__btn-container {
  margin: 20px 0 0 0;
}

.form-player-btn-container {
  display: flex;
  justify-content: flex-end;
}

.form-player-btn-container__btn {
  display: block;

  margin: 0 0 0 10px;
}
