.game {

}

.game__wrapper {
  border: 1px solid #000;
  border-radius: 10px;

  padding: 5px;

  background-color: white;
}

.game__head {
  display: flex;
  justify-content: space-between;

  padding: 5px;

  background-color: #adadad;

  border-top-left-radius: inherit;
  border-top-right-radius: inherit;

  font-weight: 600;
}

.game__player {

}

.game-player {

}

.game-player__name {

}

.game-player__cash {
  margin: 0 0 0 10px;
}

.part-game__wrapper {
  max-height: calc(100vh - 220px);

  overflow-y: auto;
}

.part-game {
  border-bottom: 1px solid black;
}

.part-game__title {
  font-size: 16px;

  text-align: center;
}

.part-game__inner {
  display: flex;
  justify-content: space-between;
}

.part-game__item {

}
